LEMORIA_ENV=development
LEMORIA_DB_HOST=localhost
LEMORIA_DB_PORT=5432
LEMORIA_DB_NAME=lemoria
LEMORIA_DB_USER=lemoria
LEMORIA_DB_PASSWORD=lemoria
LEMORIA_VAULT_PATH=./vault/obsidian
LEMORIA_OBSIDIAN_PATH=
LEMORIA_GITHUB_TOKEN=
LEMORIA_OPENCODE_AGENTS_DIR=./agents
